:root {
    --rich-black29: hsl(225,25%,9%);
    --rich-black39: hsl(179,21%,5%);
    --raisin-black: hsl(228,13%,15%);
    --eerie-color: hsl(207,19%,11%);
    --light-gray: hsl(0,3%,80%);
    --gunmatel-1: hsl(229,15%,21%);
    --gunmatel-2: hsl(216,22%,16%);
    --gaunboro: hsl(0,7%,88%);
    --citrine: hsl(57,97%,45%);
    --xiketic: hsl(253,21%,13%);
    --greatx: hsl(0,0%,74%);
    --jet: hsl(0,0%,20%);
}
.head {
    background-image: url(../imges/movie-detail-bg.png);
    background-size: cover;
    height: 100vh;
    padding: 100px 0;
}
.texthead h2 {
    color: var(--citrine);
    font-size: 30px;
    margin-bottom: 0;
}
.texthead p {
    color: white;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.imgheadside img {
    width: 300px;
    border-radius: 8px;
}
.texthead p span {
    color: var(--citrine);
}
.sidehead {
    margin-top: 60px;
    display: flex;
    gap: 50px;
    position: relative;
    padding: 0 0;
    width: 100%;
}
.detiles {
    font-size: 18px !important;
    color: var(--light-gray) !important;
    font-weight: 500 !important;
    line-height: 1.2;
    margin-top: 0 !important;
}
.headnav {
    margin-bottom: 30px !important;
}
.texthead {
    max-width: 600px;
}
.heada {
    font-weight: bold;
    font-size: 18px;
}
.year,.time {
    margin-top: 5px;
}
.time {
    margin-left: 10px !important;
}
.detiles_box {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gunmatel-2);
    width: fit-content;
    color: white;
    align-items: center;
    box-shadow: var(--citrine) 0px 0px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.box_share {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
.box_share i {
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.box_share span {
    cursor: pointer;
    font-size: 13px;
}
.box_share span:hover {
    color: var(--citrine);
}
.box_info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    align-items: center;

}
.box_info h4{
    margin-bottom: 5px;
    margin-top: -3px;
}
.box_info span{
    font-size: 13px;
}
.acont {
    position: relative;
    width: 400px;
}
.downlodeside {
    display: flex;
    padding: 50px 40px;
    background-color: var(--citrine);
    color: black;
    font-size: 13px;
    transform: rotate(90deg);
    font-weight: bold; 
    border-radius: 10px;
    letter-spacing: 8px;
    position: absolute;
    right: -50px;
    bottom: 40px;
}
 a i {
    margin-left: 20px;
}
@media (max-width: 1200px) {
    .downlodeside {
        left: 0;
        bottom: -65px;
        transform: rotate(0deg);
        padding: 20px;
        right: inherit;
    }
}
@media (max-width: 992px) {
    .downlodeside {
        left: 20%;
        bottom: 0;
        padding: 20px;
        right: inherit;
    }
    .sidehead {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
    .detiles_box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width: 320px) {
    .imgheadside img {
        width: 100%;
    }
    .downlodeside {
        left: 0;
    }
}